@import url('https://fonts.googleapis.com/css2?family=Heebo&display=swap');
*{
    font-family: 'Heebo', sans-serif;
}

body{
    background-color: #f1f3f5;
}




@import url('https://fonts.googleapis.com/css2?family=Pathway+Extreme:opsz@8..144&display=swap');
  *{
    font-family: 'Pathway Extreme', sans-serif;
}

a{
    text-decoration: none;
    color: black;
}

.nav-bar{
    width: 100%;
}
.title-bar{
    width: 98%;
    height: 50px;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.title-bar > div {
    display: flex;
    gap: 15px;
}

.nav-tabs{
    width: 65%;
}

.nav-tabs > a:first-child{
    color:#ff6f61 ;
}

.nav-tabs > a:hover{
    color:#ff6f61 ;
}

.login-box{
    opacity: 0.5;
}
hr{
    opacity: 0.4;
}

.search-nav{
    display: flex;
    justify-content:space-between;
    width: 95%;
    height: 40px;
    margin: auto;

}

.nav-search-input{
    width: 70%;
    height: 80%;
    align-self: center;
}

.nav-search-input> input{
    margin: 0px 4px;
    background-color: rgb(220, 220, 220);
    border: none;
    border-radius: 5px;
}

.nav-search-input> input:last-child{
    width: 80%;
}

.search-nav > div{
    display: flex ;
}

.search-nav > div:last-child{
    width: 30%;
    gap: 10px;
    padding-bottom: 1px;
}

.btn{
    color: white;
    background-color: #ff6f61;
    width: 30%;
    border: none;
    border-radius: 5px;
}

.container {
    width: 100%;
    padding: 2rem;
}

#slider-wrapper {
    position: relative;
    max-width: 48rem;
    margin: 0 auto;
}

.slider {
    display: flex;
    aspect-ratio: 42/9;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    box-shadow: 0 1.5rem 3rem -0.75rem hsla(0, 0%, 0%, 0.25);
    border-radius: 0.5rem;
}

.slider > img {
    flex: 1 0 100%;
    width: 10%;
    scroll-snap-align: start;
    object-fit: cover;
}

.slider-nav {
    display: flex;
    column-gap: 1rem;
    position: absolute;
    bottom: 1.25rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}

.slider-nav a {
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 50%;
    background-color: #fff;
    opacity: 0.75;
    transition: opacity ease 250ms;
}

.slider-nav> a:hover {
    opacity: 1;
}

.subscription-ad{
    width: 90%;
    margin: auto;
}

.subscription-ad img{
    width: 100%;
}

.full-body{
    width: 100%;
    height: 210px;
    background-color: white;
}

/* all set */
.slider-1{
    width: 90%;
    height: 210px ;
    margin: auto;
    display: flex;
}

a{
    text-decoration: none;
    color:black ;
}
.card{
    width: 100%;
    text-align: center;
    padding: 20px 0px 20px 0px; 
    background-color: white;
}

.card:hover{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 8px;
    margin: 0px 0.5px;
}

.card img{
    width: 120px;
}

.product-info{
    display: flex;
    justify-content:space-between;
    width: 90%;
    margin: auto;
}

.seeAllBtn{
    color: white;
    background-color: #ff6f61;
    height: 27px;
    border: none;
    border-radius: 5px;
}

.full-body2{
    width: 100%;
    height: 170px;
    background-color: white;
}

.slider2{
    width: 90%;
    height: 170px ;
    margin: auto;
    display: flex;
}

.card2{
    width: 100%;
    text-align: center;
    margin:10px ;
    border: 2px solid rgb(249, 245, 245);
    border-radius: 10px;
    background-color: white;
}

.card2:hover{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 8px;
}
.fullbodyCheckup > div:first-child{
    display: flex;
    justify-content: space-between;
    padding-left: 19px;
}

.fullbodyCheckup > div:first-child > h6:last-child{
    background-color:#ffe3c2 ;
    padding: 6px 9px;
}

.fullbodyCheckup > div:last-child{
    display: flex;
    justify-content: flex-start;
    gap: 15px;
}

.fullbodyCheckup > div:last-child{
    padding: 0px 30px;
}

.bodyCheckup-discount{
    border: 2px dashed #1aab2a;
    background-color:#1aab2a0d ;
    color: #1aab2a;
    padding: 3px;
}

del{
    opacity: 0.5;
    padding-top: 12px;
}

.full-body3{
    width: 100%;
    background-color: white;
}

.slider3{
    width: 90%;
    margin: auto;
    display: flex;
}

b{
    font-size:small;
}

.product{
    text-align: left;
    padding: 10px;
}

.product-img{
    width: 100%;
    height: 130px;
    padding: 5px;
}

.product-img > img{
    width: 100%;
    height: 100%;
}

.about{
    padding: 6px;
}

.about > p:first-child{
    font-size: 14px;
    font-weight:normal;
}
.about h5{
    margin: 2px 0px;
    opacity: 0.5;
    font-weight: 400 !important
}

.about h5:last-child{
    opacity: 1;
    font-size: 16px;

}
.rate{
    margin-top: 20px;
    display: flex;
    gap:3%;
    font-size: small;
}

.rate > p:last-child{
    color: #1aab2a;
}
























.footer p{
    opacity: 0.6;
}
.footer{
    padding: 25px 30px;
    background-color: aliceblue;
}
.footer-2{
    background-color: aliceblue;
    text-align: center;
    width: 80%;
    margin: auto;
    padding: 14px;
}
.width{
    width: 100%;
    margin: 4px 0px;
    background-color:aliceblue;
}
.footer-2 > h2{
    font-weight: 500;
}
.footer-2-flexbox{
    display: flex;
    justify-content: space-around;
}
.footer-2-flexbox2{
    display: flex;
    justify-content: center;
    gap: 10px;
}
#footer-btn{
color: white;
background-color: #ff6f61;
border: none;
border-radius: 5px;
height: 45px;
align-self: center;
padding: 15px 44px;
}
.footerInp{
    height: 40px;
    border: none;
    width: 20%;
    align-self: center;
}
.footer-about{
    display: flex;
    justify-content: space-around;
}
.footer-about > div > h6{
    opacity: 0.7;
    margin: 7px;
}
.footer-end{
    display: flex;
    width: 90%;
    margin: auto;
    justify-content: space-between;
    gap: 90px;
}
.footer-end-img{
    width: 150px;
    padding: 10px;
}
.footer-end-img> img{
    width: 100%;
}
.footer-end-box{
    display: flex;
}
.footer-end-img + div > h6{
    opacity: 0.6;
}